/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f9f9f9;
  }
  
  header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }

   .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
    margin-right: 10px;
  }

    #Search-Form {
    display: flex;
    flex: 1;
    margin-left: 20px;
  }
  
  #Search-input {
    flex: 1;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 2px 0 0 2px;
  }
    #Search-Form button {
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #e62117;
    color: white;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
  }
  
  #Search-Form button:hover {
    background-color: #cc1c13;
  }